<p>salesentry works!</p>
<div class="mt-2">
    <form #f="ngForm">
    
            <div class="mb-3">
                <label for="billno" >Billno</label>
                <input type="number" [ngModel]="billno" name="billno" disabled placeholder="BillNo">
            </div>
            <div class="mb-3">
                <label for="date">date</label>
                <input type="string" [ngModel]="date" name="date">
            </div>
            <div class="mb-3">
                <label for="customerid">CustomerName</label>
                <select #teams (change)="onSelected(teams.value)">
                    <option *ngFor="let cust of farmer" [value]="cust.id">
                        {{cust.customername}}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comission">comission</label>
                <input type="number" [ngModel]="comission" name="comission" disabled>
            </div>
            <div class="mb-3">
                <label for="rent">rent</label>
                <input type="number" [ngModel]="rent" name="rent">
            </div>
            <div class="mb-3">
                <label for="credit">credit</label>
                <input type="number"[ngModel]="credit" name="credit">
            </div>
            <div class="mb-3">
                <label for="wages">wages</label>
                <input type="number" [ngModel]="wages" name="wages" disabled>
            </div>
            <div class="mb-3">
                <label for="toll">toll</label>
                <input type="number"  [ngModel]="toll" name="toll" disabled>
            </div>
            <div class="mb-3">
                <label for="debit">debit</label>
                <input type="number" [ngModel]="debit" name="debit">
            </div>
            <div class="mb-3">
                <label for="refname">refname</label>
                <input type="text"  [ngModel]="refname" name="refname">
            </div>
            <div class="mb-3">
                <label for="totalamount">totalamount</label>
                <input type="number" [ngModel]="totalamount" name="totalamount">
            </div>
            <div class="mb-3">
                <label for="inproductname" >in productname</label>
                <input type="text" [ngModel]="inproductname" name="inproductname" (blur)="onBlurinproductname(f)">
            </div>
            <div class="mb-3">
                <label for="inkgs">in kgs</label>
                <input type="number"  [ngModel]="inkgs" name="inkgs" (blur)="onBlurInkgs(f)">
            </div>
            <div class="mb-3">
                <label for="inpack">in pack</label>
                <input type="number"  [ngModel]="inpack" name="inpack" (blur)="onBlurInpack(f)">
            </div>
            <div class="mb-3">
                <label for="inrate">in rate</label>
                <input type="text" [ngModel]="inrate" name="inrate" (blur)="onBlurInrate(f)">
            </div>
            <div class="mb-3">
                <label for="inamount">in amount</label>
                <input type="number" [ngModel]="inamount" name="inamount" disabled placeholder="Product Amount">
            </div>
            <div class="mb-3">
                <input type="number" [ngModel]="totalInAmount" name="totalInAmount" disabled placeholder="TotalAmount">
            </div>
            <button type="button" (click)="addInward(f)">Add</button>
            <div class="mb-3">
                <label for="outcustomerid" class="form-label">BusinessMan</label>
                <select #business (change)="selectBusinessman(business.value)">
                    <option *ngFor="let b of businessMan" [value]="b.id">
                        {{b.customername}}
                    </option>
                </select>
            </div>
            <!-- <div class="mb-3">
                <label for="outproductname" class="form-label">OutProductName</label>

                <select #outprouductname (change)="selectOutProduct($event)">
                    <option *ngFor="let b of selectProductName" [value]="b.id">
                        {{b.type}}
                    </option>
                </select>
            </div> -->
            <div class="mb-3">
                <label for="outproductname" >out productname</label>
                <input type="text" [ngModel]="outproductname" name="outproductname" (blur)="onBlurOutproductname(f)">
            </div>
            <div class="mb-3">
                <label for="outkgs">out kgs</label>
                <input type="number" [ngModel]="outkgs" name="outkgs" (blur)="onBlurOutkgs(f)">
            </div>
            <div class="mb-3">
                <label for="outpack">out pack</label>
                <input type="number" [ngModel]="outpack" name="outpack" (blur)="onBlurOutpack(f)">
            </div>
            <div class="mb-3">
                <label for="outrate">out rate</label>
                <input type="text" [ngModel]="outrate" name="outrate" (blur)="onBlurOutrate(f)">
            </div>
            <div class="mb-3">
                <label for="outamount">out amount</label>
                <input type="number" [ngModel]="outamount" name="outamount" disabled>
            </div>
            <button type="submit" (click)="addOutward(f)">Add</button>
            <button type="submit" class="btn btn-primary" (click)="saveSalesentry(f)">Submit</button>
    </form>
</div>
